body{
background-color: brown;




h1{
    color: color(rec2020 1 green rgb(18, 18, 165));
}


#a1{
    color: rgb(17, 223, 62);
}
#a2{
    color: rgb(238, 148, 39);
}
#a3{
    color: rgb(8, 202, 193);
}
#a4{
    color: rgb(0, 65, 161);
}
#a5{
    color: rgb(171, 27, 238);
}
#a6{
    color: rgb(140, 59, 194);
}
#a7{
    color: rgb(192, 25, 53);
}
#a8{
    color: rgb(8, 7, 5);
}
#a9{
    color: rgb(78, 199, 163);
}
#a10{
    color: rgb(71, 202, 82);
}
#a11{
    color: rgb(243, 140, 14);
}
#a12{
    color: rgb(212, 30, 30);
}
#a13{
    color: rgb(68, 199, 177);
}
#a14{
    color: rgb(54, 47, 90);
}
#a15{
    color: rgb(4, 41, 7);
}
#a16{
    color: rgb(236, 204, 17);
}


















}